.shop{
    display: grid;
    grid-template-columns: 4fr 1fr;
    margin-top: 30px;
}
.shopping-item{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    box-sizing: border-box;
    gap: 20px;
}